
header{
    background-color: rgb(198, 186, 209);
    margin: 40%%; 
    padding: 2%;
}

body{


}

h1{
    color: rgb(218, 132, 132);
    text-align: center;
}
#foto1 {
width: 10%;
margin-top: 1%;
}